*.zip
.chroma_new.zip
.chroma.zip
.dockerignore
.gitignore
Dockerfile
LICENSE
README.md
.env
temp.py

# Now using ChromaDB Cloud instead of local DB
.chroma_new/

# Ignore Git files
.git
.gitignore

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.venv/

# Ignore IDE-specific folders
.idea/
.vscode/